<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="error"/>
    <property name="fileExtensions" value="java, properties, xml"/>

    <module name="NewlineAtEndOfFile"/>
    <module name="FileTabCharacter"/>

    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="//"/>
        <property name="message"
                  value="JUNIOR ALERT: No uses comentarios de línea (//). Documenta con Javadoc o limpia el código."/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="JUNIOR ALERT: Tienes espacios en blanco basura al final de la línea."/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="System\.(out|err)\.print"/>
        <property name="message" value="JUNIOR ALERT: No uses System.out.print. Usa un Logger (SLF4J)."/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="\.printStackTrace\(\)"/>
        <property name="message" value="JUNIOR ALERT: No uses printStackTrace. Loguea la excepción adecuadamente."/>
    </module>

    <module name="TreeWalker">

        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
        </module>

        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>

        <module name="MethodLength">
            <property name="max" value="50"/>
            <property name="countEmpty" value="false"/>
        </module>

        <module name="ParameterNumber">
            <property name="max" value="5"/>
        </module>

        <module name="IllegalCatch">
            <property name="illegalClassNames" value="java.lang.Error, java.lang.Throwable, java.lang.Exception"/>
        </module>

        <module name="StringLiteralEquality"/>
        <module name="FallThrough"/>
        <module name="DefaultComesLast"/>
        <module name="ModifiedControlVariable"/>
        <module name="EqualsHashCode"/>
        <module name="DeclarationOrder"/>
        <module name="ExplicitInitialization"/>
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        <module name="MagicNumber"/>
        <module name="OperatorWrap">
            <property name="option" value="nl"/>
            <property name="tokens" value="PLUS, MINUS, STAR, DIV, MOD, ASSIGN, EQUAL, NOT_EQUAL"/>
        </module>
        <module name="SeparatorWrap">
            <property name="tokens" value="DOT"/>
            <property name="option" value="nl"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="WhitespaceAround"/>
        <module name="NeedBraces"/>
        <module name="MissingJavadocMethod">
            <property name="scope" value="public"/>
            <property name="minLineCount" value="15"/>
            <property name="ignoreMethodNamesRegex" value="^main$"/>
        </module>

        <module name="PackageName"/>
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="LocalVariableName"/>
        <module name="ConstantName"/>
        <module name="MemberName"/>
        <module name="StaticVariableName"/>

        <module name="HideUtilityClassConstructor"/>
        <module name="VisibilityModifier"/>
    </module>
</module>
